
{% extends "base.html" %}

{% macro form_entry(thing, tooltip, upload) %}
		<label class="control-label">
    <span class="formlabel"
          tooltip="{{ tooltip }}">
    {{ thing.label }}
    </span>
		</label>
		{% if not upload %}
    	{{ thing(class_="form-control") }}
		{% else %}
			<label class="form-control">
			<span class="btn btn-outline-primary">Browse</span>
    	{{ thing(class_="hidden") }}
			</label>
		<p>
		{% endif %}
    {% if thing.errors %}
    <div class=errors>
      {% for error in thing.errors %}
      {{ error }}<br>
      {% endfor %}
    </div>
    {% endif %}
{% endmacro %}

{% macro infotitle(text) %}
  <span class="infotitle">{{ text }}</span>
{% endmacro %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="errors">
      {% for message in messages %}
      {{ message }} <br>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="jumbotron jumbotron-fluid jumbotron-fancy">
  <div class="container">
    <h1 class="display-4">About phylogenize</h1>
    <p class="lead">Find contact and citation information here.</p>
  </div>
</div>
<section><p>
<div class="container">

	{{ infotitle("How to cite phylogenize: ") }} If you used <i>phylogenize</i> and found it helpful, please cite the web tool and/or the method as below:<p>
	<blockquote><u>Tool:</u> Bradley PH and Pollard KS, "<i>phylogenize</i>: correcting for phylogeny reveals genes associated with microbial distributions." <a href="https://academic.oup.com/bioinformatics/article/36/4/1289/5582265"><i>Bioinformatics</i> (2019), 36 (4).</a>.</blockquote>
	  <blockquote><u>Method:</u> Bradley PH, Nayfach S, and Pollard KS, "Phylogeny-corrected identification of microbial gene families relevant to human gut colonization." <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006242"><i>PLOS Comput Biol</i> (2018), 14 (8), e1006242.</a></blockquote>
					<p>

					{{ infotitle("How to contact support: ") }}
					If you are having problems using <i>phylogenize</i>, please contact <b><script>user1="support";user2="phylogenize";user3="org";user=user1+"&#64;"+user2+"."+user3;document.write(user);</script></b>.<p>

					{{ infotitle("How to run phylogenize locally: ") }}
					If you have very large data sets or need to do a lot of analyses, we recommend running <i>phylogenize</i> locally. You can download the source and instructions on running <i>phylogenize</i> locally from our git repository at <a href="http://bitbucket.org/pbradz/phylogenize">bitbucket.org/pbradz/phylogenize</a>.

</div>
</section>



{% endblock %}
