<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.css') }} />  
    <link rel="stylesheet" href={{ url_for('static', filename='phylo.css') }} />  
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon" />

<title>
	{% if request.path == "/" %} phylogenize - analyze
  {% elif request.path == "/results" %} phylogenize - results
  {% elif request.path == "/about" %} phylogenize - about
  {% elif request.path == "/tutorial" %} phylogenize - tutorial
  {% else %} phylogenize - results
  {% endif %}
</title>
  </head>
  <body class="Site">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	 <script src={{ url_for('static', filename='js/bootstrap.js') }}></script>

	 <nav class="navbar navbar-expand-lg navbar-custom shadow-lg" style="font-family: Barlow;">
		   <a class="navbar-brand" href="/">phylogenize (v0.92 beta)</a>
		 <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="bs-example-navbar-collapse-1" aria-label="Toggle navigation">
			 <b><i>ϕ</i></b>
		 </button>
		 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			 <div class="navbar-nav">
				 <a class="nav-item nav-link" href="{{ url_for('home') }}">Analyze</a></>
				 <a class="nav-item nav-link" href="{{ url_for('tutorial') }}">Tutorial</a></>
				 <a class="nav-item nav-link" href="{{ url_for('about') }}">About/Contact</a></>
				 </ul>
			 </div>
	 </nav>

	<main class="Site-content">
		{% block content %}{% endblock %}
	</main>

			<footer class="footer">
				<div class="container-fluid">
					<a href="https://doi.org/10.1093/bioinformatics/btz722">Bradley PH and Pollard KS (2019), <i>Bioinformatics</i></a>. The <a href="http://docpollard.org">Pollard Lab</a> is at the <a href="https://gladstone.org/institutes/data-science-and-biotechnology">Gladstone Institute of Data Science and Biotechnology</a> (GIDB). The <a href="http://bradleylab.science">Bradley Lab</a> is at Ohio State in the <a href="microbiology.osu.edu">Dept. of Microbiology</a>.
				</div>
			</footer>

  </body>
</html>
