{% extends "base.html" %}

{% macro group_title(title) %}
<span class="bigformlabel">
			{{ title }}
		</span>
		<hr />
{% endmacro %}

{% macro form_entry(thing, tooltip, upload) %}
		<label class="control-label">
    <span class="formlabel"
          tooltip="{{ tooltip }}">
    {{ thing.label }}
    </span>
		</label>
		{% if not upload %}
    	{{ thing(class_="form-control") }}
		{% else %}
			<label class="form-control custom-file-upload" for="{{ thing.id }}">
			<span class="btn btn-outline-primary">Browse</span>
    	{{ thing(class_="hidden") }}
			<span id="filename-{{ thing.id }}"><i>none</i></span>
			</label>
			<script>
				$('#{{ thing.id }}').bind('change', function() {
					var fileName = '';
					fileName = $(this).val().split('\\').pop();
					$('#filename-{{ thing.id }}').html(fileName);
				})
			</script>
		<p>
		{% endif %}
    {% if thing.errors %}
    <div class=errors>
      {% for error in thing.errors %}
      {{ error }}<br>
      {% endfor %}
    </div>
    {% endif %}
{% endmacro %}

{% macro infotitle(text) %}
  <span class="infotitle">{{ text }}</span>
{% endmacro %}

{% block content %}
<div class="jumbotron jumbotron-fluid jumbotron-fancy">
  <div class="container">
    <h1 class="display-4">Analyze your data with phylogenize</h1>
    <p class="lead">Find genes associated with microbial prevalence or specificity in an environment.</p>
  </div>
</div>




<section class="analyze-form">
	<div class="container h-100 align-items-center">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="errors">
      {% for message in messages %}
      {{ message }} <br>
      {% endfor %}
			{% for error in form.errors %}
			{{ error }}
			{% endfor %}
    </div>
  {% endif %}
{% endwith %}

		<form name="UserUpload"
				action=""
		method="POST"
	  autocomplete="off"
    class="form-horizontal"
    enctype="multipart/form-data"
    novalidate>
			{{ form.hidden_tag() }}

			<div class="form-row silentform">
				<div class="col-md-4 silentform form-group-2">
					{{ group_title("Your data and metadata") }}
					<div class="form-group form-row">
						<div class="col-md-6">
					{{ form_entry(form.abundances, "Tab-separated values. Rows should be
					MIDAS species IDs or PATRIC genome IDs.", True) }}
						</div> <div class="col-md-6">
					{{ form_entry(form.metadata, "Tab-separated values. Rows should be
					samples, and columns should be as in example file above.", True) }}
					</div>
					</div>
					<div><center>or</center></div>
					{{ form_entry(form.biomfile, "BIOM file (combined abundance table and
					sample annotation table). Make sure your sample annotation table has
					\"env\" and \"dataset\" annotations.", True) }}
				</div>
				<div class="col-md-4 silentform">
					{{ group_title("Information about your data") }}
					{{ form_entry(form.datatype, "Select whether data were calculated from
					applying MIDAS to metagenomic data, or DADA2 to 16S data.") }}
					{{ form_entry(form.database, "Select the version of the database that you
					used to get relative abundances.") }}
				</div>
				<div class="col-md-4 silentform">
					{{ group_title("Phenotype to calculate") }}
					{{ form_entry(form.phenotype,	"Select whether you want to associate gene families with prevalence or
					with environmental specificity scores.") }}
					{{ form_entry(form.which_envir, "Enter the name of the environment in
					which you want to calculate prevalence or specificity.") }}
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12">
					{{ form.recaptcha }}<br>
					<input type="submit" value="Submit" class="btn btn-primary" formmethod="post" />
				</div>
			</div>
		</form>
	</div>
</section>
</div>
</div>
<p>


{% endblock %}
