{% extends "base.html" %}


{% macro group_title(title) %}
<span class="bigformlabel">
			{{ title }}
		</span>
		<hr />
{% endmacro %}

{% macro form_entry(thing, tooltip, upload) %}
    <div class="form_entry" for="{{ thing.id }}">
		<label class="control-label">
    <span class="formlabel"
          tooltip="{{ tooltip }}">
    {{ thing.label(class_="actual_text") }}
    </span>
		</label>
		{% if not upload %}
    	{{ thing(class_="form-control") }}
		{% else %}
			<label class="form-control custom-file-upload" for="{{ thing.id }}">
			<span class="btn btn-outline-primary">Browse</span>
    	{{ thing(class_="hidden") }}
			<span id="filename-{{ thing.id }}"><i>none</i></span>
			</label>
			<script>
				$('#{{ thing.id }}').bind('change', function() {
					var fileName = '';
					fileName = $(this).val().split('\\').pop();
					$('#filename-{{ thing.id }}').html(fileName);
				})
			</script>
		<p>
		{% endif %}
    {% if thing.errors %}
    <div class=errors>
      {% for error in thing.errors %}
      {{ error }}<br>
      {% endfor %}
    </div>
    {% endif %}
    </div>
{% endmacro %}

{% macro infotitle(text) %}
  <span class="infotitle">{{ text }}</span>
{% endmacro %}

{% block content %}


<div class="jumbotron jumbotron-fluid jumbotron-fancy">
  <div class="container">
    <h1 class="display-4">Analyze your data with phylogenize</h1>
    <p class="lead">Find genes associated with microbial prevalence or specificity in an environment.</p>
  </div>
</div>

<section>
<div class="row justify-content-md-center">
	<div class="col-6">
	<h4 style="background-color: #FFFFCC;">News</h4>
	<ul>
      <li>
          11/4/2019: <i>phylogenize</i> now does a better job of informing the user which phyla are dropped and why, and will throw a more informative error if all phyla are dropped (because the ASV table was very small or because very little mapped to the database).
			</li>
			<li>
          7/10/2019: <i>phylogenize</i> will now warn the user when it is dropping samples from the analysis. This can happen either because those samples were singletons (at least two samples per environment are necessary), or because (in 16S data) nothing mapped to our database in that sample.
			</li>
			<li>
				7/2/2019: Fixed a bug with the web form that was causing an error when a BIOM file was submitted.
			</li>
		</ul>
	</div>
</div>
</section>


<section class="analyze-form">
	<div class="container h-100 align-items-center">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="errors">
      {% for message in messages %}
      {{ message }} <br>
      {% endfor %}
			{% for error in form.errors %}
			{{ error }}
			{% endfor %}
    </div>
  {% endif %}
{% endwith %}

		<form name="UserUpload"
				action=""
		method="POST"
	  autocomplete="off"
    class="form-horizontal"
    enctype="multipart/form-data"
    novalidate>
			{{ form.hidden_tag() }}
        <script>
         $(document).ready(function() {
             $('#dset_col').prop('readonly', true);
//             $("div[class='form_entry'][for='dset_col']").hide()
             $('#multidset').on('click', function() {
                 multidsetVal = $('input[name=multidset]:checked').val();
                 if (multidsetVal == "TRUE") {
                     $('#dset_col').prop('readonly', true);
                     //$("div[class='form_entry'][for='dset_col']").hide()
                 } else {
                     $('#dset_col').prop('readonly', false);
                     //$("div[class='form_entry'][for='dset_col']").show()
                 }
             })
				     $('#dataformat').bind('click', function() {
                 dfVal = $('input[name=dataformat]:checked').val();
                 if (dfVal == "biom") {
                     $("label[for=metadata][class='actual_text']").text("Metadata (optional)");
                 } else {
                     $("label[for=metadata][class='actual_text']").text("Metadata");
                 }
				     })
         })
        </script>

        <div class="form-row silentform">
            <div class="col-md-4 silentform form-group-2">
                {{ group_title("Your data and metadata") }}
                {{ form_entry(form.dataformat, "The abundance data may either be
                in tabular or in BIOM format.") }}
                <div class="form-group form-row">
                    <div class="col-md-6">
                        {{ form_entry(form.abundances, "Tab-separated values or BIOM file.
                        Rows should be MIDAS species IDs (shotgun) or amplicon sequence
                        variant (ASV) sequences (16S).", True) }}
                    </div> <div class="col-md-6">
                        {{ form_entry(form.metadata, "Tab-separated values (leave blank if
                        providing a single BIOM file). Rows should be samples, and columns
                        should be as in example file above.", True) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4 silentform">
                {{ group_title("Information about your data") }}
                <div class="form-group form-row">
                <div class="col-md-6">
                {{ form_entry(form.datatype, "Select whether data were calculated from
                    applying MIDAS to metagenomic data, or DADA2 to 16S data.") }}
                </div>

                <div class="col-md-6">
                {{ form_entry(form.database, "Select the version of the database
                that you used to get relative abundances.") }}
                </div>
                </div>

                <div class="form-group form-row">
                <div class="col-md-4">
                {{ form_entry(form.multidset, "Select whether phylogenize should normalize across multiple datasets in your input data.") }}
                </div>
                    <div class="col-md-4">
                {{ form_entry(form.dset_col, "If normalizing over multiple datasets, give the name of the metadata column representing which dataset a sample comes from.") }}
                    </div>
                    <div class="col-md-4">
                        {{ form_entry(form.env_col, "Give the name of the metadata column representing which environment a sample comes from.") }}
                    </div>
                </div>
            </div>
            <div class="col-md-4 silentform">
                {{ group_title("Phenotype to calculate") }}
                {{ form_entry(form.phenotype, "Select whether you want to associate
                gene families with prevalence or with environmental specificity
                scores.") }}
                {{ form_entry(form.which_envir, "Enter the name of the environment in
                which you want to calculate prevalence or specificity.") }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                {{ form.recaptcha }}<br>
                <input type="submit" value="Submit" class="btn btn-primary" formmethod="post" />
				    </div>
			  </div>
		</form>
	</div>
</section>
    </div>
    </div>
    <p>


        {% endblock %}
