body {
font-family: Lato, Corbel, sans-serif;
font-weight: medium;
font-size: 16px;
}
p {
	font-size: 20 px;
}
h1,h2,h3,h4,h5,h6 {
font-family: Barlow, Franklin Gothic, sans-serif;
}
.navbar a {
	color: black;
}
.navbar {
  min-height: 80px;
  /*padding: 0.5rem 0.5rem;*/

}
.navbar-brand {
  background-color: #FFFFA0;
}
.navbar-toggler {
  background-color: #FFFFA0;
  border: 1px dashed black;
  border-color: black;
  padding: 10px;
}
.navbar-collapse.collapse.show, .navbar-collapse.collapsing {
  background-color: #FFFFA0;
  padding: 10px;
  border: 2px solid black;
}
.navbar-collapse {
  background-color: #FFFFA0;
}
.navbar-custom {
	background-color: #FFFFA0;
	color: black;
	font-weight: bold;
	font-size: 16px;
	border: 0;
	border-color: black;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
		background: #5578AA;
		color: white;
}
h1 {
	background-color: #FFFFD0;
	font-weight: bold;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
h2 {
	background-color: #FFFFE0;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
h3 {
	background-color: #E0E0E0;
	font-weight: normal;
}
img.inline {
	width: auto;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
div.figure {
	margin: auto;
	width: 100%;
}
p.caption {
	font-style: italic;
	text-align: center;
}

code.block {
background-color: #FFFFD0;
width: 100%;
display:block;
font-family: Inconsolata, Consolas, Courier, monospace;
font-size: 80%;
}
.formlabel {
	font-weight: normal;
	background-color: #5577AA;
	color: #FFFFFF;
	font-family: Barlow, Franklin Gothic, sans-serif;
	font-size: 120%;
	font-style: italic;
  padding-left: 3px;
  padding-right: 5px;
}
.bigformlabel {
	font-weight: normal;
	color: #000000;
	background-color: #FFFFA0;
	font-style: normal;
	font-family: Barlow, Franklin Gothic, sans-serif;
	font-size: 135%;
	margin: 0px;
  padding-left: 3px;
  padding-right: 5px;
}
.infobox {
	line-height: 1;
	padding: 25px;
	border: 1px dashed #888888;
}
div.errors {
  font-size: 80%;
  line-height: 1;
  width: 60%;
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: bold;
}
pre.outfile {
	font-size: 8pt;
	line-height: 1;
	width: 75%;
	padding: 25px;
	border: 1px #888888;
  background-color: #FFFFEE;
  color: #000000;
  font-family: monospace;
  white-space: pre-wrap;
}
pre.errfile {
	font-size: 8pt;
	line-height: 1;
	width: 75%;
	padding: 25px;
	border: 1px #888888;
  color: #000000;
  background-color: #FFDDDD;
  font-family: monospace;
      white-space: pre-wrap;
}

.infotitle {
	font-weight: bold;
	background-color: #FFFF44;
	color: #000000;
	font-style: italic;
}
ul.form-control {
	    list-style-type: none;
						}

.silentform {
	    list-style-type: none;
					    padding: 0;
						}

@media print {
	#main { margin: 1 in; }
}


[tooltip]{
	margin:2px 2px;
	position:relative;
	display:inline-block;
}
[tooltip]::before {
	content: "";
	position: absolute;
	top:-6px;
	left:50%;
	transform: translateX(-50%);
	border-width: 4px 6px 0 6px;
	border-style: solid;
	border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
	z-index: 99;
	opacity:0;
}

[tooltip-position='left']::before{
	left:0%;
	top:50%;
	margin-left:-12px;
	transform:translatey(-50%) rotate(-90deg) 
}
[tooltip-position='top']::before{
	left:50%;
}
[tooltip-position='bottom']::before{
	top:100%;
	margin-top:8px;
	transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[tooltip-position='right']::before{
	left:100%;
	top:50%;
	margin-left:1px;
	transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
	content: attr(tooltip);
	font-style: normal;
	line-height: 0.9;
	position: absolute;
	left:25%;
	top:-6px;
	transform: translateX(-25%)   translateY(-100%);
	background: rgba(0,0,0,0.9);
	text-align: center;
	color: #fff;
	padding:4px 2px;
	font-size: 65%;
	min-width: 200px;
	border-radius: 5px;
	pointer-events: none;
	padding: 4px 4px;
	z-index:99;
	opacity:0;
}

[tooltip-type='advanced']::after{
	background: rgba(0.8,0.5,0.5,0.9);
}

[tooltip-position='left']::after{
	left:0%;
	top:50%;
	margin-left:-8px;
	transform: translateX(-100%)   translateY(-50%);
}
[tooltip-position='top']::after{
	left:50%;
}
[tooltip-position='bottom']::after{
	top:100%;
	margin-top:8px;
	transform: translateX(-50%) translateY(0%);
}
[tooltip-position='right']::after{
	left:100%;
	top:50%;
	margin-left:8px;
	transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
	opacity:1
}
.input{
	margin-left:135px
}

.formlabel:hover{
	background: #FFAA88;
}
pre {
      white-space: pre-wrap;
}

/* Tooltip code modified from:
    https://medium.freecodecamp.org/a-step-by-step-guide-to-making-pure-css-tooltips-3d5a3e237346
   Thanks!
*/

.footer {
	background-color: #AAFFCC;
  font-weight: bold;
/*
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
/*  line-height: 30px; /* Vertically center the text there */
}

html,body{
    height: 100%;
}
.hidden {
  display: none !important;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.jumbotron-fancy {
   padding: 30px;
   margin-bottom: 30px;
   color: inherit;
   background-color: white;
	 background-image: url("/static/bg.png");
	 background-repeat: repeat;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #AAAAAA !important;
  	font-style: italic;
    opacity: 1; /* Firefox */
}


